@font-face {
    font-family: 'DS-Digital';
    src: url('./ds_digital/DS-DIGI.TTF') format('truetype');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    background-color: #4d4d4d;
    padding: 2.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
}

.calculator-display {
    font-size: 4vw;
    height: 4vw;
    background-color: #d0e6a8;
    color: #4d4d4d;
    flex-basis: 1;
    width: 24vw;
    text-align: right;
    font-family: 'DS-Digital', sans-serif;
    margin-bottom: 3vw;
    padding: 0.5vw 0vw;
    padding-right: 1vw;
    border-radius: 1vw;
}

.container-keys {
    display: flex;
    flex-wrap: wrap;
    
    width: 24vw;
    height: 24vw;
    padding-bottom: 1vw;
}

.keys {
    font-size: 3vw;
    border-radius: 1vw;
    width: 5.4vw;
    margin: 0.3vw;
    height: auto;
    color: white;
}

#key-0 {
    width: 11.4vw;
}

#key-equals {
    flex: 1;
}

.clear {
    background-color: #e95d5e;
}

.operator {
    background-color: #65c7d0;
}

.numeric {
    background-color: #808080;
}

.equals {
    background-color: #e68c43;
}