@font-face {
    font-family: 'DS-Digital';
    src: url('./ds_digital/DS-DIGI.TTF') format('truetype');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 2vw;
    padding: 15px;
    width: clamp(250px,90%, 60rem);
}

.calculator-display {
    font-size: 5rem;
    background-color: #d0e6a8;
    color: #4d4d4d;
    flex-basis: 1;
    width: 100%;
    text-align: right;
    font-family: 'DS-Digital', sans-serif;
    margin-bottom: 25px;
    border-radius: 1vw;
}

.container-keys {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.keys {
    font-size: 3rem;
    border-radius: 1vw;
    width: 20%;
    margin: 2.5%;
    height: auto;
    color: white;
}

/*#key-0 {
    width: 11.4vw;
}*/

#key-delete {
    font-size: 3rem;
    background-color: #e68c43;
}

#key-equals {
    flex: 1;
    background-color: #7fe643b6;
}

.keys.clear {
    background-color: #e95d5e;
}

.keys.operator {
    background-color: #65c7d0;
}

.keys {
    background-color: #808080;
}